* {
  padding: 0;
  margin: 5px;
}
header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-wrap: wrap;
}

.Info {
  margin: 12px;
  border: 1px solid black;
  text-align: center;
  width: 20%;
  min-width: 120px;
}
#addForm {
  display: none;
}

form > div {
  margin: 20;
}

.textbox {
  height: 200px;
  width: 250px;
  margin: 25;
}

.checkBox {
  float: left;
}
